@model IEnumerable<Hotel_Management_System.Models.NewRoom>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.room_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.room_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.room_floor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.room_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.room_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.room_booked_by)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.room_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.room_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.room_floor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.room_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.room_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.room_booked_by)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
