@model IEnumerable<Hotel_Management_System.Models.CustomerDetails>

@{
    ViewData["Title"] = "CheckedInShow";
}

<h1>Checked In Customers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.customer_phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customer_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customer_nid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customer_from)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image_path)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customer_phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customer_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customer_nid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customer_from)
            </td>
            <td class="col-sm-2">
                <img src=@item.image_path alt="Human Photo" width="90" height="65">
            </td>
            <td>
                <a asp-controller="User" asp-action="CheckoutForm" asp-route-customerId="@item.customer_id">Select</a>
            </td>
        </tr>
}
    </tbody>
</table>
