@model IEnumerable<Hotel_Management_System.Models.ReportModel>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
    <script type="text/javascript">
        function printReport() {
            var css = '{ size: landscape; }',
            head = document.head || document.getElementsByTagName('head')[0],
            style = document.createElement('style');
            style.type = 'text/css';
            style.media = 'print';
            if (style.styleSheet) {
                style.styleSheet.cssText = css;
            } else {
                style.appendChild(document.createTextNode(css));
            }
            head.appendChild(style);
            var elementHTML = document.getElementById('table').innerHTML;
            var printWindow = window.open('', '', 'height=1280,width=768');
            printWindow.document.write('<html><head style="size:landscape;"><title>Report</title>');
            printWindow.document.write('</head><body >');
            printWindow.document.write(elementHTML);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        }

        //$("#btnPrint").live("click", function () {
        //  var divContents = $("#text").html();
        //  var printWindow = window.open('', '', 'height=400,width=800');
        //  printWindow.document.write('<html><head><title>Report</title>');
        //  printWindow.document.write('</head><body >');
        //  printWindow.document.write(text);
        //  printWindow.document.write('</body></html>');
        //  printWindow.document.close();
        //  printWindow.print();
        //});
    </script>

<button onclick="printReport()" class="btn btn-secondary">Download Report</button>

<div id="table">
    <table class="table" border="1" style="">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.invoice_no)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.check_in_time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.check_out_time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.customer_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.customer_phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.customer_from)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.room_no)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.room_price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.stayed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.room_total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sub_total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.discount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.grand_total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.advance_amount)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.invoice_no)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.check_in_time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.check_out_time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.customer_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.customer_phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.customer_from)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.room_no)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.room_price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.stayed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.room_total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sub_total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.discount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.grand_total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.advance_amount)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


